################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HelloWPF/obj/Debug
/HelloWPF/bin/Debug
/Calculator/obj/Debug
/Calculator/bin/Debug
/CSharpPractice/bin/Debug
/CSharpPractice/obj/Debug
